/* ABOUT PAGE */
.about--coverimg {
    background: url('src/assets/Components/Images/AboutCover.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
}

.about--maintext h1{
    font-weight: bolder;
    font-size: 2.5rem;
}
.about--maintext h4{
    font-weight: bolder;
    font-size: 1.5rem;
}
.about--end--section{
    background-color: #deb887;
}
.about--end--section h1{
    color: #000;
}

.link-button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border: none;
    padding: .75rem 1.375rem;
    color: initial;
    font-weight: 700;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: transform .1s ease-in-out;
    background-color: #161616;
    color: white;
}