/* HOME PAGE */
.home--coverimg {
    background-image: url('src/assets/Components/Images/image 53.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 550px;
}

.home--coverimg h1{
    text-align: center;
    color: #fff;
    font-weight: bolder;
    font-size: 3rem;
}
.home--coverimg p{
    text-align: center;
    color: #fff;
    font-weight: bolder;
    font-size: 1.5rem;
}

.home--coverimg a{
    margin-left: 30%;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background-color: #FF8C38;
    border: none;
    width: 40%;
    margin-top: 27px;
    padding-block: .75rem;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: transform .1s ease-in-out;
}