.not-found-container {
padding-inline: 26px;
text-align: center;
}

.not-found-container .link-button {
width: 10%;
background-color: #161616;
color: white;
}
/* Media-Queries */
@media (max-width: 600px) {
    .not-found-container .link-button {
        width: 50%;
    }
}