/* VANS PAGE */
.vans-main {
    padding-inline: 23px
}

.van-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 34px;
    margin-top: 57px;
}

.van-tile a {
    color: #161616;
    text-decoration: none;    
}

.van-tile img {
    max-width: 100%;
    border-radius: 5px;
}

.van-list-container button {
    margin-right: 20px;
    cursor: pointer;
}

.van-type {
    height: 34px;
    padding: 6px 26px;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    background-color: #FFEAD0;
    color: #4D4D4D;
    transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}
.van-list-filter-buttons {
    display: flex;        /* Enables Flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center;  /* Center vertically */
    padding: 6px 0;       /* Adjust padding as needed */
}


.van-type:hover {
    color: #FFEAD0;
}

.van-type:focus {
    outline: none;
}

.van-type.selected {
    color: #FFEAD0;
}

.van-type.simple:hover, .van-type.simple.selected {
    background-color: #E17654;
}

.van-type.rugged:hover, .van-type.rugged.selected {
    background-color: #115E59;
}

.van-type.luxury:hover, .van-type.luxury.selected {
    background-color: #161616;
}

.van-typeclear-filters{
    height: 34px;
    padding: 6px 26px;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    color: #4D4D4D;
    transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

i[class*='van-type-'] {
    padding: 7px 14px;
}

@media screen and (max-width: 600px) {
    .van-list {
        grid-template-columns: 1fr; /* Stack items vertically on small screens */
    }

    /* .van-list-filter-buttons {
        padding: 6px 15%; 
    } */

    .van-type {
        padding: 3px 13px; /* Adjust padding for smaller screens */
    }

    i[class*='van-type-'] {
        padding: 3px 7px; /* Adjust padding for smaller screens */
    }
}