.host-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media (max-width: 600px) {
    .host-nav {
        flex-direction: row;
        justify-content: space-between;
    }
}

.host-nav a {
    text-decoration: none;
    color: #4D4D4D;
    font-weight: 500;
    padding: 5px 20px;
    flex: 1 0 auto;
}

.host-nav a:hover {
    color: #161616;
    text-decoration: underline;
    font-weight: 600;
}
